
#pokemon-detail-modal{
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 40px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  max-width: 300px;


  #modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 350px;
    position: relative;

    h3{
      margin-top: 0;
      font-size: 2.5rem;
    }

    h4{
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 5%;
    }
    #close-pokemon-detail{
      position: absolute;
      top: -30px;
      left: -5px;
      background-color: transparent;
      border: none;
      font-size: 30px;
      padding: 0 30px 30px 0;
      cursor: pointer;
    }

    picture{
      border-radius: 20px;
      width: 250px;
      img{
        width: 250px;
      }
    }

    #type-of-detail{
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      gap: 10px;
      margin-top: 20px;
      min-width: 250px;
      max-width: 300px;



    }
    #detail-content{
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      max-width: 300px;
    }



  }


}

.item-modal{
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  list-style: none;
  background-color: rgb(223, 223, 223);
  min-width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.modal-li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-stat{
  padding-left: 20px;
  font-weight: 700;
  margin-top: 3px;
}

.pokemon-type{
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

@media screen and (min-width: 768px){
  #pokemon-detail-modal{
    height: fit-content;
    width: fit-content;
    padding: 60px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
   max-width: 400px;
    #modal-content{
      height: 100%;
      width: 100%;      #close-pokemon-detail{
        top: -45px;
        left: -15px;
        #close-pokemon-detail{
          top: -45px;
          left: -15px;
          font-size: 30px;
          padding: 0 40px 40px 0;
          cursor: pointer;
        }
        picture{
          padding: 40px 30px;
          img{
            min-width: 250px;
            max-width: 300px;
          }
        }
      }
    }
  }


}