header {
  margin: 5% 10% 3% 10%;
  width: 80%;
  max-width: 400px;
}
header h1 {
  font-size: 3rem;
}
header #search-pokemon {
  margin-top: 5%;
  display: flex;
}
header #search-pokemon div {
  width: 90%;
  background-color: #EBF3F5;
  border-radius: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #search-pokemon div i {
  color: #2C3055;
}
header #search-pokemon div #search-pokemon-input {
  padding: 0 10px;
  background-color: #EBF3F5;
  border: none;
  outline: none;
}
header #search-pokemon div #search-pokemon-input::placeholder {
  color: #A5ABB9;
}
header #search-button {
  background-color: #5D5F7C;
  margin-left: 10px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  border: none;
  color: white;
}

.card {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  background-color: lightblue;
  width: 160px;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.card img {
  margin-top: 25px;
  margin-bottom: 40px;
}
.card .pokemon-name {
  margin-bottom: 6px;
}

#pokemon-detail-modal {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  border: none;
}
#pokemon-detail-modal #modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  position: relative;
}
#pokemon-detail-modal #modal-content h3 {
  margin-top: 0;
  font-size: 2.5rem;
}
#pokemon-detail-modal #modal-content h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 5%;
}
#pokemon-detail-modal #modal-content #close-pokemon-detail {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 0 40px 40px 0;
  cursor: pointer;
}
#pokemon-detail-modal #modal-content picture {
  padding: 40px 30px;
  border-radius: 20px;
}
#pokemon-detail-modal #modal-content picture img {
  min-width: 250px;
  max-width: 300px;
}
#pokemon-detail-modal #modal-content #type-of-detail {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  gap: 10px;
  margin-top: 20px;
  min-width: 250px;
  max-width: 300px;
}
#pokemon-detail-modal #modal-content #detail-content {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 300px;
}

.item-modal {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  list-style: none;
  background-color: rgb(223, 223, 223);
  min-width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.modal-li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-stat {
  padding-left: 20px;
  font-weight: 700;
  margin-top: 3px;
}

.pokemon-type {
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  #pokemon-detail-modal {
    height: fit-content;
    width: fit-content;
    padding: 60px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }
  #pokemon-detail-modal #modal-content {
    height: 100%;
    width: 100%;
  }
  #pokemon-detail-modal #modal-content #close-pokemon-detail {
    top: -45px;
    left: -15px;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F5FBFB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  max-width: 400px;
}

.title {
  color: #2C3055;
  font-weight: 700;
}

#region-title {
  margin-bottom: 2%;
  color: #2C3055;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#region-title div {
  min-width: fit-content;
  width: 250px;
}
#region-title div h2 {
  font-size: 2.5rem;
}
#region-title div h3 {
  font-size: 1.5rem;
}
#region-title button {
  background-color: transparent;
  color: #5D5F7C;
  border: none;
  padding: 20px;
  font-size: 30px;
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
}

#error-message {
  font-size: 30px;
  color: rgb(161, 0, 0);
}

@media screen and (min-width: 768px) {
  #container {
    width: 80%;
    max-width: 600px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  #container {
    width: 80%;
    max-width: 800px;
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=main.css.map */